In [ ]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow.keras import Sequential
from tensorflow import keras
from tensorflow.keras.layers import Dense, Input, Dropout
from tensorflow import feature_column
from sklearn.preprocessing import StandardScaler

## Steps we will follow in this notebook

* Download the data
* Become one with the data
* Preprocess the data
* Create a model
* Compile the model
* Fit the model 
* Evaluate the model

In [ ]:
# Import the train data
train = pd.read_csv("https://raw.githubusercontent.com/amulyaprasanth/Wipro-sustainability-Machine-Learning-Model/main/train.csv?token=GHSAT0AAAAAABQFXU7ALXBH52PHIX2WJAGMYP2OARQ")
train.head()

   Year  Month  Day  ...  Wind Direction  Wind Speed  Fill Flag
0  2009      1    1  ...           346.1         3.1          0
1  2009      1    1  ...           346.1         3.1          0
2  2009      1    1  ...           347.9         3.2          0
3  2009      1    1  ...           347.9         3.1          0
4  2009      1    1  ...           350.0         3.0          0

[5 rows x 18 columns]

In [ ]:
# Import the test data
test = pd.read_csv("https://raw.githubusercontent.com/amulyaprasanth/Wipro-sustainability-Machine-Learning-Model/main/test.csv?token=GHSAT0AAAAAABQFXU7AEO63CT7XAEELZYL6YP2OBPA")
test.head()

   Year  Month  Day  Hour  ...  Fill Flag  Clearsky DHI  Clearsky DNI  Clearsky GHI
0  2019      1    1     0  ...          0           NaN           NaN           NaN
1  2019      1    1     0  ...          0           NaN           NaN           NaN
2  2019      1    1     1  ...          0           NaN           NaN           NaN
3  2019      1    1     1  ...          0           NaN           NaN           NaN
4  2019      1    1     2  ...          0           NaN           NaN           NaN

[5 rows x 18 columns]

In [ ]:
# These are the target variables which we have to predict
target_labels = ["Clearsky DHI", "Clearsky DNI", "Clearsky GHI"]

## Become one with the data

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175296 entries, 0 to 175295
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                175296 non-null  int64
 1   Month               175296 non-null  int64
 2   Day                 175296 non-null  int64
 3   Hour                175296 non-null  int64
 4   Minute              175296 non-null  int64
 5   Clearsky DHI        175296 non-null  int64
 6   Clearsky DNI        175296 non-null  int64
 7   Clearsky GHI        175296 non-null  int64
 8   Cloud Type          175296 non-null  int64
 9   Dew Point           175296 non-null  float64
 10  Temperature         175296 non-null  float64
 11  Pressure            175296 non-null  int64
 12  Relative Humidity   175296 non-null  float64
 13  Solar Zenith Angle  175296 non-null  float64
 14  Precipitable Water  175296 non-null  float64
 15  Wind Direction      175296 non-null  float64
 16  Wind Speed          175296 non-null  float64
 17  Fill Flag           175296 non-null  int64
dtypes: float64(7), int64(11)
memory usage: 24.1 MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                17520 non-null  int64
 1   Month               17520 non-null  int64
 2   Day                 17520 non-null  int64
 3   Hour                17520 non-null  int64
 4   Minute              17520 non-null  int64
 5   Cloud Type          17520 non-null  int64
 6   Dew Point           17520 non-null  float64
 7   Temperature         17520 non-null  float64
 8   Pressure            17520 non-null  int64
 9   Relative Humidity   17520 non-null  float64
 10  Solar Zenith Angle  17520 non-null  float64
 11  Precipitable Water  17520 non-null  float64
 12  Wind Direction      17520 non-null  int64
 13  Wind Speed          17520 non-null  float64
 14  Fill Flag           17520 non-null  int64
 15  Clearsky DHI        0 non-null      float64
 16  Clearsky DNI        0 non-null      float64
 17  Clearsky GHI        0 non-null      float64
dtypes: float64(9), int64(9)
memory usage: 2.4 MB

#### Splitting the training data into train and validation sets

In [ ]:
# First we split the training data into training and validation sets
X_train, y_train, X_valid, y_valid = train.drop(target_labels, axis=1)[:156000], train[target_labels][:156000], train.drop(target_labels, axis=1)[156000:], train[target_labels][156000:]

In [ ]:
X_train.head()

        Year  Month  Day  ...  Wind Direction  Wind Speed  Fill Flag
90469   2014      2   28  ...            84.6         1.4          0
20090   2010      2   23  ...           312.5         3.7          0
20170   2010      2   25  ...           312.3         3.4          1
126391  2016      3   18  ...           230.6         1.7          0
39700   2011      4    8  ...           169.5         1.2          0

[5 rows x 15 columns]

In [ ]:
y_train

        Clearsky DHI  Clearsky DNI  Clearsky GHI
90469            103           972           838
20090             57           405           125
20170              0             0             0
126391             0             0             0
39700              0             0             0
...              ...           ...           ...
119879             0             0             0
103694             0             0             0
131932           118           741           598
146867           168           840           989
121958            87           809           503

[157766 rows x 3 columns]

In [ ]:
X_train.shape[-1:]

(15,)

In [ ]:
# preprocessing the test data
test_data = test.drop(target_labels, axis=1)

In [ ]:
# Normalising our data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_valid = scaler.transform(X_valid)
test_data = scaler.transform(test_data)

In [ ]:
X_train.shape[-1]

15

## This is our baseline model 

Model is  stored as tensorflow_model0 in google Drive

In [ ]:
# Set random seed
tf.random.set_seed(42)

# Create the model
model = Sequential()
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(3))

# Compile the model
model.compile(loss="mean_squared_error",
            optimizer='adam',
            metrics=['mean_squared_error'])

# Fit data to model
model.fit(X_train, y_train,
        batch_size=32,
        epochs=100,
        validation_data=[X_valid, y_valid],
        callbacks=[tf.keras.callbacks.EarlyStopping(patience=5)])

# Generate generalization metrics
score = model.evaluate(X_valid, y_valid, verbose=0)
print(f'Test loss: {score[0]} / Test accuracy: {score[1]}')

Epoch 1/100
4931/4931 [==============================] - 26s 5ms/step - loss: 4965.7134 - mean_squared_error: 4965.7134 - val_loss: 813.3339 - val_mean_squared_error: 813.3339
Epoch 2/100
4931/4931 [==============================] - 19s 4ms/step - loss: 721.5184 - mean_squared_error: 721.5184 - val_loss: 670.9785 - val_mean_squared_error: 670.9785
Epoch 3/100
4931/4931 [==============================] - 11s 2ms/step - loss: 662.4795 - mean_squared_error: 662.4795 - val_loss: 603.0419 - val_mean_squared_error: 603.0419
Epoch 4/100
4931/4931 [==============================] - 11s 2ms/step - loss: 634.6456 - mean_squared_error: 634.6456 - val_loss: 624.9670 - val_mean_squared_error: 624.9670
Epoch 5/100
4931/4931 [==============================] - 12s 2ms/step - loss: 616.2098 - mean_squared_error: 616.2098 - val_loss: 634.7067 - val_mean_squared_error: 634.7067
Epoch 6/100
4931/4931 [==============================] - 13s 3ms/step - loss: 603.7639 - mean_squared_error: 603.7639 - val_loss: 593.8264 - val_mean_squared_error: 593.8264
Epoch 7/100
4931/4931 [==============================] - 15s 3ms/step - loss: 596.3142 - mean_squared_error: 596.3142 - val_loss: 559.7548 - val_mean_squared_error: 559.7548
Epoch 8/100
4931/4931 [==============================] - 11s 2ms/step - loss: 587.2362 - mean_squared_error: 587.2362 - val_loss: 556.9918 - val_mean_squared_error: 556.9918
Epoch 9/100
4931/4931 [==============================] - 12s 2ms/step - loss: 580.4767 - mean_squared_error: 580.4767 - val_loss: 549.9304 - val_mean_squared_error: 549.9304
Epoch 10/100
4931/4931 [==============================] - 22s 4ms/step - loss: 572.6840 - mean_squared_error: 572.6840 - val_loss: 589.8423 - val_mean_squared_error: 589.8423
Epoch 11/100
4931/4931 [==============================] - 20s 4ms/step - loss: 563.0758 - mean_squared_error: 563.0758 - val_loss: 556.4626 - val_mean_squared_error: 556.4626
Epoch 12/100
4931/4931 [==============================] - 14s 3ms/step - loss: 558.3649 - mean_squared_error: 558.3649 - val_loss: 550.1079 - val_mean_squared_error: 550.1079
Epoch 13/100
4931/4931 [==============================] - 14s 3ms/step - loss: 551.6938 - mean_squared_error: 551.6938 - val_loss: 529.0830 - val_mean_squared_error: 529.0830
Epoch 14/100
4931/4931 [==============================] - 18s 4ms/step - loss: 542.3417 - mean_squared_error: 542.3417 - val_loss: 506.5314 - val_mean_squared_error: 506.5314
Epoch 15/100
4931/4931 [==============================] - 14s 3ms/step - loss: 534.1619 - mean_squared_error: 534.1619 - val_loss: 515.1918 - val_mean_squared_error: 515.1918
Epoch 16/100
1576/4931 [========>.....................] - ETA: 7s - loss: 531.6539 - mean_squared_error: 531.6539

KeyboardInterrupt: ignored

## Experimenatation

Now we perform all types of experiments in this section to beat our baseline

### Model_1: Let's create a neural network with CNN 1D layers

#### Creating a submissions file

In [ ]:
# Predicting on test data
preds = model.predict(test_data)

pred1 = preds[:, 0]
pred2 = preds[:, 1]
pred3 = preds[:, 2]

In [ ]:
submissions = pd.DataFrame()

In [ ]:
submissions['Clearsky DHI'] = pred1
submissions['Clearsky DNI'] = pred2
submissions['Clearsky GHI'] = pred3

In [ ]:
submissions.to_csv("tensorflow_model_results.csv", index=False)